*{
    margin: 0;
    font-family: "Montserrat", Arial, sans-serif;
}

#layout{
    margin-top: -15%;
    block-size: 150%;
}

#layout h1{
    margin-top: 4vw;
    text-align: center;
}
#layout h1 i{
    font-size: 110%;
    transform: rotate(15deg);
}

#layout h3{
    font-weight: lighter;
    text-align: center;
    margin-bottom: 3vw;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*
NAME 
*/

form .divName{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1.0vw;
}

form .divName input{
    margin-top: 5px;
    padding: 10px 0px 10px 30px;
    width: 350px;
    border: 1px solid #c9c9c9;
    outline-color: black;
    border-radius: 5px;
}

form .divName i{
    position: absolute;
    left: 0px;
    top: 8px;
    padding: 9px 10px;
}

/*
EMAIL
*/

form .divMail{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1.0vw;
}

form .divMail input{
    margin-top: 5px;
    padding: 10px 0px 10px 30px;
    width: 350px;
    border: 1px solid #c9c9c9;
    outline-color: black;
    border-radius: 5px;
}

form .divMail i{
    position: absolute;
    left: 0px;
    top: 8px;
    padding: 9px 10px;
}

/*
MESSAGE
*/

form .divMessage{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2vw;
}

form .divMessage textarea{
    margin-top: 5px;
    padding: 10px 0px 10px 10px;
    border: 1px solid #c9c9c9;
    outline-color: black;
    border-radius: 5px;
}

form .divMessage i{
    position: absolute;
    left: 0px;
    top: 8px;
    padding: 9px 10px;
}

/*
SUBMIT
*/

form .divSubmit{
    margin-bottom: 5vw;
}

form .divSubmit input{
    margin-bottom: 2vw;
    background-color: #428EFF;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

/*
MODAL
*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal {
    z-index: 5;
    position: fixed;
    top: -20%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 600px;
    height: 500px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 3px;
    padding: 20px;
    display: none;
}

.modal__close{
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    

    display: none;
}

.modal__close svg{
    width: 20px;
    height: 20px;
}

.modal__header{
    cursor: default;
    user-select: none;
}

.modal__header h2{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal__header h3{
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

.modal--open{
    display: block;
}

.modal--close{
    display: none;
}

.modal__body {
    text-align: center;
    padding-bottom: 60px;
}

.modal__body img{
    width: 40%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

.modal__footer{
    text-align: center;
}

.modal__footer__button{
    margin-bottom: 2vw;
    background-color: #428EFF;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.modal__footer__button:hover{
    background-color: #2356a1;
}


.img__disappear{
    animation: disappear 1 2s ease-out;
}

.img__appear{
    animation: appear 1 2s ease-in;
    display: block;
}

@keyframes disappear{
    from{
        opacity: 1;
        transform: rotate(0deg);
    }
    to{
        opacity: 0;
        transform: rotate(360deg);
    }
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@media screen and (max-width: 1504px) {
    h1{
        margin-top: 9.5vw;
    }
}
