body{
    margin: 1em;
    font-family: "Montserrat", arial, sans-serif;
    font-size: 20px;
    display:grid;
    grid-template-columns: 400px 5px 248px 10px 200px 75px;
    grid-template-rows: 150px 10px 25px 20px 400px 70px;
}

#presentation{
    display: block;
    background-color: #f3f3f3;
    border-radius: .5em;
    padding: .5em;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

#presentation h1{
    text-align: center;
}

#presentation p{
    text-align: justify;
}

.reunion{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.axes_recherches{
    background-color: #BF9E9E;
    display: block;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    color: black;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

#actualites{
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;
}

#actualites ul{
    list-style-type: none;
}

#actualites li{
    background-color: #D9D9D9;
    margin-bottom: 2em;
    padding: .5em 1em;
}

#actualites ul h2{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

#competences{
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
}